<!DOCTYPE html>
<html>
	<head>
		<title>Options - jetzt speed reader</title>
		<link rel="stylesheet" type="text/css" href="styles/options.css" />
		<link rel="stylesheet" type="text/css" href="styles/options-widgets.css" />
		<link rel="stylesheet" type="text/css" href="../jetzt.css" />
	</head>
	<body ng-app="optsApp" ng-csp>
		<nav class="sideBar">
			<h1>Chrome</h1>
			<ul>
				<li><a href="chrome://history" target="_blank">History</a></li>
				<li>
					<a href="chrome://extensions">Extensions</a>
					<ul>
						<li>jetzt</li>
					</ul>
				</li>
				<li><a href="chrome://settings">Settings</a></li>
				<li><a href="chrome://help">Help</a></li>
			</ul>
		</nav>
		<header>
			<h1>jetzt speed reader</h1>
		</header>

		<div ng-controller="OptionsController">

		<section>
			<h3>View</h3>
			<p>Options to configure the visual appearance of the speed-reader</p>
			<p>
				<label for="scale">
					Scale:	<input type="text" placeholder="1.0" ng-model="options.scale" size="3" />
				</label>
			</p>
			<p>
				<label for="dark">
					<input type="checkbox" id="dark"  ng-model="options.dark" /> Use dark theme<br/>
				</label>
			</p>

			<p>Color for Selection:</p>
			<input type="color" id="selection_color" ng-model="options.view.selection_color" />
			<p>Font:</p>
			<p>
				<select id="fav_font"  ng-options="fnt.displayName as fnt.displayName for fnt in installedFonts" ng-model="options.view.font_family"></select>
			</p>

        </select>

			<br />
		</section>
		<section>
			<h3>Control</h3>
			<p>Options to configure keybindings:</p>
			<p>TBD</p>
		</section>
		<section>
			<h3>Reading</h3>
			<p>General options to tweak the speed-reader</p>
			<label for="wpm">
				Target WPM:<br/>
				<input type="number" placeholder="400" id="wpm" ng-model="options.target_wpm">
			</label>

			<p>Duration modifiers</p>
			<label ng-repeat-start="(name,value) in options.modifiers" for="{{name}}">
				<span class="{{name}}">{{name}}:</span><br/>
				<input type="text" ng-model="value" id="{{name}}">
			</label><br ng-repeat-end/>
		</section>
		<section>
			<h3>Lab options</h3>
			<p>Advanced and experimental settings</p>
			<button ng-click="showLab()">I know what I am doing!</button>
		</section>

		<div class="overlay transparent hidden">
			<div class="page hidden" id="labPopUp">
				<h1>Lab settings</h1>
				<button class="closeButton"></button>
				<div class="content">
					<p>This is the place for some experimental or advanced settings</p>
					<p>Right now, it is misused to display the current options:
					<pre>{{options | json}}</pre>
					</p>
				</div>
			</div>
		</div>

		<section>
			<button id="save" ng-click="save()">Save</button>
    		<button id="cancel" ng-click="load()">Cancel</button>
		</section>

		<aside id="reader-demo">
			<div class="sr-reader in {{options.dark ? 'sr-dark' : ''}}" style="-webkit-transform: translate(-50%, -50%) scale(1);">
				<div class="sr-wrap sr-left"></div>
				<div class="sr-word-box">
					<div class="sr-reticle"></div>
					<div class="sr-progress" style="border-left-width: 96px;"></div>
					<div class="sr-message"></div>
					<div class="sr-word" style="left: 47.5px;" ng-style="{'font-family' : options.view.font_family}">
						<span class="">Sa</span>
						<span class="sr-pivot" ng-style="{color: options.view.selection_color}">m</span>
						<span class="">ple</span>
					</div>
					<div class="sr-wpm">{{options.target_wpm}}</div>
					<input class="sr-input">
				</div>
				<div class="sr-wrap sr-right"></div>
			</div>
		</aside>


		<aside id="spacing-demo">
			<p>...occaecat cupidatat non proident<span class="end_clause">, </span>sunt in culpa qui officia deserunt mollit anim id est laborum<span class="end_sentence">. </span></p>
			<span class="end_paragraph">&nbsp;</span>
			<p><span class="start_paragraph">&nbsp;</span><span class="start_sentence">&nbsp;</span>Lorem ipsum dolor sit amet<span class="end_clause">, </span>consectetur adipisicing elit <span class="long_space">&mdash;</span> sed do eiusmod tempor incididunt ut labore et dolore magna aliqua<span class="end_sentence">. </span><span class="start_sentence">&nbsp;</span>Ut enim ad minim veniam<span class="end_clause">, </span>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat<span class="end_sentence">. </span><span class="start_sentence">&nbsp;</span>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur<span class="long_space">: </span>Excepteur sint occaecat cupidatat non proident<span class="end_clause">, </span>sunt in culpa<span class="short_space">; </span>qui officia deserunt mollit anim id est laborum<span class="end_sentence">. </span></p>
			<p><span class="start_sentence">&nbsp;</span>Lorem ipsum dolor sit amet...</p>
		</aside>


		</div>



		<script type="text/javascript" src="scripts/options-setup.js"></script>

		<script src="../modules/helpers.js"></script>
		<script src="../modules/config.js"></script>
		<script src="../modules/storage.js"></script>

		<script src="scripts/angular.min.js"></script>
		<script src="scripts/options-ng.js"></script>
	</body>
</html>
