<!DOCTYPE html>
<html>
	<head>
		<title>Options - jetzt speed reader</title>
		<link rel="stylesheet" type="text/css" href="styles/options.css" />
		<link rel="stylesheet" type="text/css" href="styles/options-widgets.css" />
		<link rel="stylesheet" type="text/css" href="../jetzt.css" />
		<link rel="stylesheet" type="text/css" href="styles/style.css" />
	</head>
	<body ng-app="optsApp" ng-csp ng-controller="OptionsController">
		<nav class="sideBar">
			<h1>Chrome</h1>
			<ul>
				<li><a href="chrome://history" target="_blank">History</a></li>
				<li>
					<a href="chrome://extensions">Extensions</a>
					<ul>
						<li>jetzt</li>
					</ul>
				</li>
				<li><a href="chrome://settings">Settings</a></li>
				<li><a href="chrome://help">Help</a></li>
			</ul>
		</nav>
		<header>
			<div class="save-cancel">
				<button id="save" ng-click="save()" ng-disabled="isClean()">Save</button>
				<button id="cancel" ng-click="load()" ng-disabled="isClean()">Cancel</button>
			</div>
			<h1>jetzt speed reader</h1>
		</header>

		<div>

		<ul class="nav-tabs">
			<li ng-class="{active: editing == 'Appearance'}">
				<a href="" ng-click="editing = 'Appearance'">Appearance</a>
			</li>
			<li ng-class="{active: editing == 'Reading'}">
				<a href="" ng-click="editing = 'Reading'">Reading</a>
			</li>
			<li ng-class="{active: editing == 'Keyboard Controls'}">
				<a href="" ng-click="editing = 'Keyboard Controls'">Keyboard Controls</a>
			</li>
			<li ng-class="{active: editing == 'Experimental Features'}">
				<a href="" ng-click="editing = 'Experimental Features'">Experimental Features</a>
			</li>
		</ul>

		<section ng-show="editing == 'Appearance'" ng-controller="ThemeController">
			<div id="reader-demo-light"></div>
			<div id="reader-demo-dark"></div>

			<p>Font:</p>
			<p>
				<select id="fav_font"  ng-options="fnt.displayName as fnt.displayName for fnt in installedFonts" ng-model="options.view.font_family"></select>
			</p>

        </select>

			<br />
		</section>
		<section ng-show="editing == 'Keyboard Controls'">
			<p>Coming soon...</p>
		</section>
		<section ng-show="editing == 'Reading'">
			<label for="wpm">
				Target WPM:<br/>
				<input type="number" placeholder="400" id="wpm" ng-model="options.target_wpm">
			</label>

			<p>Duration modifiers</p>

			<label ng-repeat-start="name in listModifierNames()" for="{{name}}">
				<span class="{{name}}">{{name}}:</span><br/>
				<input type="text" ng-model="options.modifiers[name]" id="{{name}}">
			</label><br ng-repeat-end/>	

		</section>
		<section ng-show="editing == 'Experimental Features'">
			<p>Coming soon...</p>
			<button ng-click="showLab()">I know what I am doing!</button>
		</section>

		<div class="overlay transparent hidden">
			<div class="page hidden" id="labPopUp">
				<h1>Lab settings</h1>
				<button class="closeButton"></button>
				<div class="content">
					<p>This is the place for some experimental or advanced settings</p>
					<p>Right now, it is misused to display the current options:
					<pre>{{options | json}}</pre>
					</p>
				</div>
			</div>
		</div>

		




	<!-- 	<aside id="spacing-demo">
			<p>...occaecat cupidatat non proident<span class="end_clause">, </span>sunt in culpa qui officia deserunt mollit anim id est laborum<span class="end_sentence">. </span></p>
			<span class="end_paragraph">&nbsp;</span>
			<p><span class="start_paragraph">&nbsp;</span><span class="start_sentence">&nbsp;</span>Lorem ipsum dolor sit amet<span class="end_clause">, </span>consectetur adipisicing elit <span class="long_space">&mdash;</span> sed do eiusmod tempor incididunt ut labore et dolore magna aliqua<span class="end_sentence">. </span><span class="start_sentence">&nbsp;</span>Ut enim ad minim veniam<span class="end_clause">, </span>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat<span class="end_sentence">. </span><span class="start_sentence">&nbsp;</span>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur<span class="long_space">: </span>Excepteur sint occaecat cupidatat non proident<span class="end_clause">, </span>sunt in culpa<span class="short_space">; </span>qui officia deserunt mollit anim id est laborum<span class="end_sentence">. </span></p>
			<p><span class="start_sentence">&nbsp;</span>Lorem ipsum dolor sit amet...</p>
		</aside>
 -->

		</div>



		<script type="text/javascript" src="scripts/options-setup.js"></script>
		
		<script src="../modules/preamble.js"></script>

		<script src="../modules/helpers.js"></script>
		<script src="../modules/config.js"></script>
		<script src="../modules/view.js"></script>
		<script src="../chrome-config.js"></script>

		<script src="scripts/angular.min.js"></script>
		<script src="scripts/options-ng.js"></script>
	</body>
</html>
